@charset "UTF-8";


 :root{--cor0:#dadada;
       --cor1:#cacaca;
       --cor2:#b9b9b9;
       --cor3:#a9a9a9;
       --cor4:#989898;

}


body{
    background-color:hsl(0, 0%, 89%);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

header{
    background-image:linear-gradient(to bottom,var(--cor0),var(--cor4));
    padding:5px; 
    border-radius:15px 15px 0px 0px;
    margin-left:-15px;margin-right:-15px;margin-top:-15px;margin-bottom:-15px
    padding 5px;
    
    
    }
    header a:hover{color:green}
     

    header h1{text-align: center;padding-bottom: 1px;color:white  ;text-shadow: 2px 2px 2px black;}

    header> p{text-align: center;padding-bottom: 60px;font-weight: bold;color:white;text-shadow: 2px 2px 2px black;}

     
    nav a{padding-left: 20px;
    font-weight: bold;text-decoration: none;}

    nav a:hover{background-color:
        lightgray;}

main{background-color: white;
    padding:20px;
    border-radius:0px;margin:auto;min-width:200px; max-width:800px;margin-top: 1px;line-height:1.50em;}
    

main img{width:100%}

main a {background-color: var(--cor0);
text-decoration:none;color:brown;
font-weight: bold;}

main a:hover{color:green; 
 font-weight:bold;}

main p{text-indent:15px;}

main h1{
text-indent:5px}

main aside{margin-top:10px}

.pequena{
    width:50%;
    display:block;
    margin:auto;
    text-align:center
}
.Retangulo{
            width:200px;
            background-image: linear-gradient(to right,var(--cor2),transparent);
            font-size: 1.2em;
            text-indent:5px;
}

.grande{
    background-image: linear-gradient(to right,var(--cor3),transparent);
    font-size:1.2em;
    text-indent: 5px;
}

div.video{background-color:var(--cor3);text-align:center;padding-top:15px;padding-bottom: 15px;border-radius:5px 5px 5px 5px
  }
  

main .video{margin-top:-10px}

aside{background-color:hsl(0, 0%, 89%);padding:20px;border-radius:20px;
    
}

aside h3{margin:-20px;border-radius:5px 5px 5px 5px;}

aside ul{columns:1;margin-left:-15px;
          list-style-type:'✔️\00A0\00A0';


}
aside a{background-color: var(--cor2);}

     
h2{ width:300px;
    background-image:linear-gradient(to right,var(--cor1),var(--cor0)) ;
    border-radius: 3px;padding-right: 0px;
    text-shadow:1px 1px 1px white;
    
    
    box-shadow:#707070
}


h3{background-color:rgb(131, 131, 131);
color:white;text-align:center;border-radius: 10px;border:10px;padding-top:10px;padding-bottom:10px;text-shadow:2px 2px 2px black;}

footer{
    background-color:#707070;text-shadow: 1px 1px 1px black;
    color:white; text-decoration:none ;
} 


footer>a{color:brown;text-decoration: none;
font-weight: lighter;font-weight: medium;
}

footer>a:hover{background-color:var(--cor0) ;
    color:green;
}

nav>a{color:white;}
    


footer{text-align:center;border-radius: 5px 5px 5px 5px;
    margin-left:-15px;margin-right:-15px}
 
